 .jumbotron{
        height: 80px;
        width:1141px;
        margin-right:80px; 
        margin-left: 80px;
        margin-bottom: 0px;
        border-top-right-radius: 10px; 
        border-top-left-radius:10px
}

.page-header {
	text-align: center
}

.search-box{
	width: 25%; 
	margin-left: 800px
}

.table-container{
	margin-right:80px;
	margin-left: 80px;
}

.notification-cart{
        margin-top: -30px;
    margin-left: 995px;
    margin-bottom: 5px;
}

.notification-fav{
        margin-top: -35px;
    margin-left: 1050px;
    margin-bottom: 5px;
}

#lblCartCount {
    font-size: 12px;
    background: #2c2424;
    color: #fff;
    padding: 2 5px;
    vertical-align: top;
    margin-left: -7px;
    margin-top: -5px
}
