  <div>
    <h1 class="page-header"> Track List <small>Search Track With Your Favourite Mood and Genres</small></h1>
    <div class="col-md-12">
      <div class="jumbotron">
          <div class="input-group notification-cart">
              <a class="btn btn-sm btn-info" ><i class="fa fa-shopping-cart fa-lg"></i></a>
              <span class="badge badge-warning" id="lblCartCount">{{cartList.length}}</span>

          </div>
          <div class="input-group notification-fav">
              <a class="btn btn-sm btn-primary"><i class="fa fa-plus-square fa-lg"></i></a>
              <span class="badge badge-warning" id="lblCartCount">{{favList.length}}</span>
          </div>
          <div class="input-group search-box">
              <input type="text" [(ngModel)]="searchText" (keyup.enter)="onSearch()" class="form-control" placeholder="Search Genres & Moods"/>
              <span class="input-group-addon" (click)="onSearch()">
                  <i class="fa fa-search"></i>
              </span>
          </div>
      </div>
    </div>
    <div *ngIf="dataLoaded == true"  class="container table-container">
      <table class="table table-bordered">

        <!--Table head-->
        <thead>
          <tr>
            <th>Track Id</th>
            <th>Track Title</th>
            <th>Genres</th>
            <th>Moods</th>
            <th>Length</th>
            <th> Actions </th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
         <tbody>
                    <tr class="active" *ngFor="let list of trackList; let i = index" [attr.data-index]="i">
                      <td>{{list.id}}</td>
                      <td>{{list.title}}</td>
                      <td> 
                        <span *ngFor="let genres of list.genres ; let i = index" [attr.data-index]="i"> {{genres.title}} </span>
                      </td>
                      <td> 
                        <span *ngFor="let moods of list.moods ; let i = index" [attr.data-index]="i"> {{moods.title}} </span>
                      </td>
                      <td>{{list.length}}</td>
                      <td>
                        <span *ngIf="!list.cartFlag"> <a (click)="add(list.id)" class="btn btn-sm btn-info" title="Add To Cart"><i class="fa fa-shopping-cart fa-lg"></i></a>
                        </span>
                        <span *ngIf="list.cartFlag == true"> <a (click)="remove(list.id)" class="btn btn-sm btn-default" title="Remove From Cart"><i class="fa fa-check-square fa-lg"></i></a>
                        </span>
                        <span style="margin-left: 5px" *ngIf="!list.favFlag"> <a (click)="addFav(list.id)" class="btn btn-sm btn-primary" title="Add To Favourites"><i class="fa fa-plus-square fa-lg"></i></a>
                        </span>
                        <span style="margin-left: 5px" *ngIf="list.favFlag == true"> <a (click)="removeFav(list.id)" class="btn btn-sm btn-default" title="Remove From Favourites"><i class="fa fa-check-square fa-lg"></i></a>
                        </span>
                      </td>
                    </tr>
                    <tr *ngIf="trackList.length == 0">
                      <td colspan="6"><h3> No Track Match This Search Criteria </h3></td></tr>
                  </tbody>
        <!--Table body-->

      </table>
    </div>
    <div style="min-height: 150px" *ngIf="dataLoaded == false">
            <div class = "loader" style="margin-top: 200px">
            </div>
        </div>

</div>
