.swal2-popup{
	width: 45em !important;
	height: 30em !important;
}

.swal2-popup .swal2-title{
	font-size: 3.875em !important
}
.swal2-popup #swal2-content{
	font-size: 2.15em !important
}

.swal2-popup .swal2-styled.swal2-confirm{
	font-size: 1.625em !important
}

.swal2-icon.swal2-success .swal2-success-ring {
    border-color: #9de0f6 !important;
    color: #3fc3ee !important;
}
.swal2-icon.swal2-success [class^='swal2-success-line']{
	background-color: #9de0f6 !important;
    color: #3fc3ee !important;	
}
/*.swal2-confirm .btn-danger .swal2-styled{
  background-color:#f0ad4e !important;
  border-color: #eea236 !important; 
}
*/
.loader {
  position: relative;
  left: 50%;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}